@use '@angular/material' as mat;

.color1 {
    $mycolor: mat.get-color-from-palette(mat.$teal-palette, 800);
    > div { background-color: mat.get-color-from-palette(mat.$teal-palette, 50); border-color: mat.get-color-from-palette(mat.$teal-palette, 800); }
}
.color2 {
    $mycolor: mat.get-color-from-palette(mat.$red-palette, 800);
    > div { background-color: mat.get-color-from-palette(mat.$red-palette, 50); border-color: mat.get-color-from-palette(mat.$red-palette, 800); }
}
.color3 {
    $mycolor: mat.get-color-from-palette(mat.$yellow-palette, 800);
    > div { background-color: mat.get-color-from-palette(mat.$yellow-palette, 50); border-color: mat.get-color-from-palette(mat.$yellow-palette, 800); }
}
.color4 {
    $mycolor: mat.get-color-from-palette(mat.$light-green-palette, 800);
    > div { background-color: mat.get-color-from-palette(mat.$light-green-palette, 50); border-color: mat.get-color-from-palette(mat.$light-green-palette, 800); }
}
.color5 {
    $mycolor: mat.get-color-from-palette(mat.$blue-palette, 800);
    > div { background-color: mat.get-color-from-palette(mat.$blue-palette, 50); border-color: mat.get-color-from-palette(mat.$blue-palette, 800); }
}
.color6 {
    $mycolor: mat.get-color-from-palette(mat.$brown-palette, 800);
    > div { background-color: mat.get-color-from-palette(mat.$brown-palette, 50); border-color: mat.get-color-from-palette(mat.$brown-palette, 800); }
}
.color7 {
    $mycolor: mat.get-color-from-palette(mat.$orange-palette, 800);
    > div { background-color: mat.get-color-from-palette(mat.$orange-palette, 50); border-color: mat.get-color-from-palette(mat.$orange-palette, 800); }
}
.color8 {
    $mycolor: mat.get-color-from-palette(mat.$purple-palette, 800);
    > div { background-color: mat.get-color-from-palette(mat.$purple-palette, 50); border-color: mat.get-color-from-palette(mat.$purple-palette, 800); }
}

.mini-skull {
    display: inline-block;
    position: relative;
    margin: 6px;

    transition: transform 0.3s;

    &.selected {
        transform: perspective(200px) scale(1.2);
        .head {}
    }

    &.chosen {
        transform: perspective(200px) scale(1);
    }

    .head {
        border: 4px solid black;
        border-radius: 12px;
        padding: 12px 18px;

        text-transform: uppercase;
            font-family: 'Patrick Hand', cursive;
            font-size: 1.2em;
    }
    .jaw {
        position: relative;
        background: white;
        border: 4px solid black;
        border-radius: 0 0 8px 8px;
        bottom: 4px;
        left: 10%;
        right : 10%;
        height: 18px;
        width: 80%;
    }
}

$margin: 6px;

.word-card {
    position: relative;
    $duration: 0.3s;
    display: inline-block;
    padding: 8px;
    border-radius: 8px;
    @include mat.elevation(2);
    background: white;
    margin: $margin;
    transition: transform 0.3s, box-shadow 0.3s;

    &.selected {
        // @keyframes selection {
        //     0% {
        //         transform: scale(1);
        //         @include mat-elevation(2);
        //     }
        //     100% {
        //         transform: scale(1.1);
        //         @include mat-elevation(2);
        //     }
        // }
        // animation-name: selection;
        // animation-duration: 0.3s;
        transform: perspective(200px) rotateY(0) scale(1.1);
        @include mat.elevation(2);
    }

    &.chosen {
        transform: perspective(200px) rotateY(20deg) scale(1);
    }
    

    > div {
        // border: 1.5px solid mat-color($mat-blue, 800);
        border: 1.5px solid black;
        border-radius: 2px;
        padding: 12px 18px;
        
        text-transform: uppercase;
        font-family: 'Patrick Hand', cursive;
        font-size: 1.2em;


            // color: mat-color($mat-blue, 800);
            // background: white;
        }
}

.answer {
    text-transform: uppercase;
    border: 1px solid grey;
    border-radius: 8px;
    margin-bottom: 6px;
    padding: 6px 12px;
    display: flex;
}