<!doctype html>

<html lang="en">
<head>
    <meta charset="utf-8">
    <title>WebSocket : socket.io test</title>
</head>
<body>
    <p>Bonjour.</p>
    <button id="newPlayer">Click me</button> 
</body>

<script src="//cdnjs.cloudflare.com/ajax/libs/socket.io/2.2.0/socket.io.js" integrity="sha256-yr4fRk/GU1ehYJPAs8P4JlTgu0Hdsp4ZKrx8bDEDC3I=" crossorigin="anonymous"></script>
<script type="text/javascript">
    var socket = io();
    document.getElementById("newPlayer").onclick = function() {
        socket.emit('new_player', {nickname: 'alexis'});
    };
</script>

</html>