
.title {
    font-size: 1.5em;
    text-align: center;
    margin: 0 auto;
    font-weight: bold;
    text-shadow: 2px 2px #1a0063;
}

.main-container {
    padding: 20px;
    max-width: 900px;
    margin: 0 auto;
}